@model List<Patron> // Assuming the patron list is of type List<Patron>

    <div class="container">
        <h2>Patron List</h2>
        <div class="form-group">
            <a href="/Patron/Register" class="btn btn-primary m-3" style="background-color:orange;">Register</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var patron in Model)
            {
                    <tr>
                        <td>@patron.PatronId</td>
                        <td>@patron.FirstName</td>
                        <td>@patron.LastName</td>
                        <td>@patron.CellPhone</td>
                        <td><a href="Patron/Details/@patron.PatronId" class="">Details</a></td>
                    </tr>
            }
            </tbody>
        </table>
    </div>
