@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
    <h2>Performance List</h2>
    <div class="form-group">
        <a href="/Performance/Add" class="btn btn-primary m-3" style="background-color:orange;">Add</a>
        @* <input type="text" class="form-control w-25" id="searchInput" placeholder="Search by name"> *@
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Production</th>
                <th>Date Time</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td>John</td>
                <td>Doe</td>
                <td>1234567890</td>
                <td><a href="#" class="">Details</a></td>
            </tr>
            <tr>
                <td>ID</td>
                <td>Jane</td>
                <td>Smith</td>
                <td>9876543210</td>
                <td><a href="#" class="">Details</a></td>
            </tr>
            <!-- Add more rows for additional students -->
        </tbody>
    </table>
</div>
@{
}
