@model Production
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medallion Theater</title>
    <link rel="stylesheet" href="./add.css">
</head>
<body>
    <div class="wrapper">
        <form action="POST" method="">
            <h1>Add Production</h1>
            <div class="form-group">
                <label for="fname">Production Number</label>
                <input type="text" class="fname" value="@Model.Id">
            </div>
            <div class="form-group">
                <label for="fname"> Name</label>
                <input type="text" class="fname" value="@Model.Name">
            </div>
            <div class="form-group">
                <label for="fname">Type</label>
                <input type="text" class="fname" value ="@Model.Type">
            </div>

            <div class="actions">
                <input type="reset" value="Delete" class="btn_danger">
                <input type="submit" value="Update" class="btn primary">
            </div>
        </form>
    </div>
</body>
</html>