@model Production
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medallion Theater</title>
    <link rel="stylesheet" href="./add.css">
</head>
<body>
    <div class="wrapper">
        <form action="Detalis" method="POST">
            @if (Model != null)
            {
                
            <h1>Production Details</h1>
            <div class="form-group">
                <label for="fname">Production Number</label>
                <input type="text" class="fname" name="Id" readonly value="@Model.Id">
            </div>
            <div class="form-group">
                <label for="fname"> Name</label>
                <input type="text" class="fname" name="Name" value="@Model.Name">
            </div>
            <div class="form-group">
                <label for="fname">Type</label>
                <input type="text" class="fname" name="Type" value ="@Model.Type">
            </div>

            <div class="actions">
                <a value="Delete" href="@Url.Action("Delete","Production",new{id = Model.Id})" class="btn btn-danger">Delete</a>
                <input type="submit" value="Update" class="btn primary">
            </div>
            }
        </form>
    </div>
</body>
</html>