@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Production>
<div class="container">
    <h2>Production List</h2>
    <div class="form-group">
        <a href="/Production/Add" class="btn btn-primary m-3" style="background-color:orange;">Add</a>
        @* <input type="text" class="form-control w-25" id="searchInput" placeholder="Search by name"> *@
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in Model)
            {
                <tr>
                    <td>@prod.Id</td>
                    <td>@prod.Name</td>
                    <td>@prod.Type</td>
                    <td><a href="Production/Details/@prod.Id" class="">Details</a></td>
                </tr>
            }

            <!-- Add more rows for additional students -->
        </tbody>
    </table>
</div>
@{
}
