<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Medallion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Medallion.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/reserve.css">
</head>
<body style= "min-width:100vw; display: flex; align-items: center;  justify-content: center;  flex-direction: column; width:max-content;">

    <header style="width:100%">
        <nav id="navbar" style="background-color: #fff0da; padding:0;" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" style="background-color: #fff0da; padding:0;" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/logo.PNG" style="height:70px;width:70px;" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1 justify-content-end " style="gap:2rem;">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="Reserve"><span style="font-size:larger">Reserve</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Patron" asp-action="Index"><span style="font-size:larger">Patreon</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Production" asp-action="Index"><span style="font-size:larger">Production</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Performance" asp-action="Index"><span style="font-size:larger">Performance</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

            @RenderBody()


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Medallion - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
